@use "../abstracts" as *;

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  font-size: 1.6rem;
  line-height: 1;
  color: $colorText;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
