@use "../abstracts" as *;

.btn {
  a {
    max-width: none;
    padding: 0.2em 2.5em;
    margin: 0 auto;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 1px 0 $color30, 2px 0px 0 $color30, -2px 1px 0 $color30,
      0px 1px 0 $color30, -2px -1px 0 $color31, -2px 0px 0 $color31,
      0px -1px 0 $color31, 2px -1px 0 $color31;
    letter-spacing: normal;
    background: transparent;
    border: none;

    &::before {
      display: none;
    }
    &::after {
      position: static;
      display: inline;
      width: auto;
      height: auto;
      content: " >>>>>>>";
      border: none;
      transform: none;
    }
    &:hover {
      text-shadow: 4px 2px 0 $color30, 4px 0px 0 $color30, -4px -2px 0 $color31,
        -4px 0px 0 $color31;
    }
  }
}
