@use "../abstracts" as *;

.sec-shop {
  text-align: center;
  p {
    margin-top: 5rem;
  }
}
.sec-schedule {
  padding: 5rem 0 10rem;
  background: $color30;
}
.scheListContainer {
  display: flex;
  margin-top: 7rem;
}
.scheList {
  width: 50%;
  > li {
    + li {
      margin-top: 3em;
    }
  }
}
.scheDtl {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  line-height: 2;
  &_week {
    width: 3em;
    padding: 0.3em 0 0.1em;
    text-align: center;
    background: #fff;
    &.-red {
      color: rgb(225, 21, 21);
    }
    &.-blue {
      color: rgb(41, 21, 225);
    }
  }
  &_info {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 5em);
  }
  &_time {
    width: 6em;
  }
  &_place {
    width: calc(100% - 6em);
  }
}
.scheTxt {
  margin-top: 5rem;
  font-size: 80%;
  text-align: center;
}
