-
  pages = {
    top: {
      title       : 'サンプルサイト',
      sitename    : '',
      description : 'サンプルサイトの詳細説明',
      keywords    : '',
      url         : '',
      ogp         : 'https://www.xxxxx.com/wp-content/uploads/ogp.png',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    menu: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    shop: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    coupon: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    recruit: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
  }
